build
out
allure-results
.gradle
.idea
.intellijPlatform
.kotlin

src/integrationTest/resources/test-projects/*/build
src/integrationTest/resources/test-projects/*/.idea
src/integrationTest/resources/test-projects/*/*.iml

logs_*.zip
