name: Release Plugin

on: [workflow_dispatch]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Free Disk Space
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: true

    - name: Fetch Sources
      uses: actions/checkout@v6.0.1
    
    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@v3.5.0
    
    - name: Setup Java
      uses: actions/setup-java@v5.0.0
      with:
        distribution: corretto
        java-version: 17
        cache: gradle

    - name: Export Properties
      id: properties
      shell: bash
      run: |
        PROPERTIES="$(./gradlew properties --console=plain -q)"
        VERSION="$(echo "$PROPERTIES" | grep "^version:" | cut -f2- -d ' ')"
        echo "version=$(echo $VERSION)" >> $GITHUB_OUTPUT

    - name: Run Tests
      run: ./gradlew test

    - name: Run Plugin Verification
      run: ./gradlew runPluginVerifier -Pplugin.verifier.home.dir=~/.pluginVerifier
      
    - name: Prepare Plugin Artifact
      id: artifact
      shell: bash
      run: |
        cd ${{ github.workspace }}/build/distributions
        FILENAME=`ls *.zip`
        CUT_FILENAME=${FILENAME:0:-4}
        echo "filename=$(echo $CUT_FILENAME)" >> $GITHUB_OUTPUT
      
    - name: Upload artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: ${{ steps.artifact.outputs.filename }}
        path: ./build/distributions/

    - name: Publish Plugin
      env:
        PUBLISH_TOKEN: ${{ secrets.UPLOAD_TOKEN }}
      run: ./gradlew publishPlugin

    - name: Create Release
      uses: softprops/action-gh-release@v2.4.2
      with:
        tag_name: v${{ steps.properties.outputs.version }}
        name: v${{ steps.properties.outputs.version }}
        draft: false
        prerelease: false

    - name: Check Disk Space
      run: df -h
